.golden {
    border: 1px solid goldenrod;
}

.navstyling {
    display: inline-block;
    padding-left: 80px;
}

.disabled {
    color: gray;
}

a  .disabled {
    color: pink;
}

.active {
    color: yellow;
}

.redhead {
    color: red;
}

.bluebird {
    color: blue;
}